<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="RTCPXR" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:9998</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
          <providers>
            <pattern>
                <pattern>
                    {
                    "message": "%message"
                    }
                </pattern>
            </pattern>
        </providers>
    </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>sipRserver.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.sipr" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="vq-rtcpxr" level="INFO">
        <appender-ref ref="RTCPXR"/>
    </logger>
</configuration>